NODE_ENV=development

# App Details
APP_PORT=5050
APP_LOGO="https://apis.blsheet.com/logo.png"
APP_NAME="BL Sheet"

# MongoDB URLS
MONGODB_URL=mongodb://localhost:27017
DB_COLLECTION_NAME=bl-sheet

# Secrets
ACCESS_TOKEN_SECRET=access-token-secrete-key
SESSION_SECRET_KEY=session-secrete-key

# Google AUTH
GOOGLE_CLIENT_SECRET=google-client-secreat
GOOGLE_CLIENT_ID=google-client-id

# URLS
FRONTEND_URL=http://localhost:5508
BACKEND_URL=http://localhost:5555


# Mail Provider
MAIL_PORT=465
MAIL_HOST=smtp.gmail.com
MAIL_PASSWORD=password
MAIL_FROM='"BL Sheet 👻" <example@gmail.com>'
MAIL_USERNAME=example@gmail.com
MAIL_SECURE=false

# Model Api Key's
GROQ_API_KEY=gsk_

# Cloudinary
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=

